{% extends 'base/main.html' %}
{% block title %} Register An Account - devConnect {% endblock %}
{% load static %}
{% block content %}

<h4 class="display-3" style="color: #FFF; ">Register an account</h4>
<br/>

<form method="POST" action="">
    {% csrf_token %}
    <div class="row">
    <div class="col">
    <label for="first_name" class="label">{{form.first_name.label}}</label><br>
    {{form.first_name}}
    </div>
        <div class="col">
    <label for="last_name" class="label">{{form.last_name.label}}</label><br>
    {{form.last_name}}
        </div>
    </div>
    <br/>
    <div class="row">
    <div class="col">
    <label for="username" class="label">{{form.username.label}}</label><br>
    {{form.username}}
    </div>
        <div class="col">
    <label for="email" class="label">{{form.email.label}}</label><br>
    {{form.email}}
        </div>
    </div>
    <br/>
    <div class="row">
    <div class="col">
    <label for="password1" class="label">{{form.password1.label}}</label><br>
    {{form.password1}}
    </div>
        <div class="col">
    <label for="password2" class="label">{{form.password2.label}}</label><br>
    {{form.password2}}
        </div>
    </div>
    <br/>
    <div class="col">
    <label for="group" class="label">{{form.group.label}}</label><br>
    {{form.group}}
        </div>
    <br/></br>
    <input type="submit" name="Create Account" value="Create Account">

</form>



{% endblock content %}