{% extends 'base/main.html' %}
{% block title %} devConnect {% endblock %}
{% load static %}
{% block content %}

<!--<form method="get">
    {{eventsFilter.form}}
    <button class="btn btn-primary" type="submit">Search</button>
</form>-->

<div id='map' style='width: 100%; height: 500px; border-radius: 4px; box-shadow: rgb(0 0 0 / 22%) 0px 0px 10px;'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiYXVzdGluZmxhdHQiLCJhIjoiY2tyb2V3Z25pMmh4eDJvbzR5YWF2a2dyZiJ9.-95eK2-4NVM6Vi_CZ8ShDA';
var map = new mapboxgl.Map({
    container: 'map', // container ID
    style: 'mapbox://styles/austinflatt/ckrofzdq15ook19nfo2nmos00', // style URL
    center: [-90.5, 40], // starting position [lng, lat]
    zoom: 3 // starting zoom
});
{% for meetups in meetups %}
var marker = new mapboxgl.Marker()
  .setLngLat([{{ meetups.long }}, {{ meetups.lat }}])
  .setPopup(new mapboxgl.Popup().setHTML("<h4>{{meetups.title}}</h4><p>{{meetups.meetup_date}} to {{meetups.end_date}}</p><p>{{meetups.address}}</p>"))
  .addTo(map);
{% endfor %}
</script>

<h1 class="display-3" style="color: #FFF; ">All Events</h1>

<div class="row justify-content-center">
    {% for meetup in meetups %}
<div class="col-sm-3 col-md-3 g-4">
    <div class="card" style="width: 18rem;box-shadow: rgb(0 0 0 / 22%) 0px 0px 10px;border: 0px solid rgba(0,0,0,.125); background-color: #2d3839; color: #FFF;">
  <a href="{% url 'event' meetup.id %}"><img src="{{meetup.thumbnail.url}}" class="card-img-top" style="height: 171px; background-color: #2d3839;" alt="..."></a>
  <div class="card-body">
    <h5 class="card-title">{{meetup.title}}</h5>
    <p class="card-text">{{meetup.meetup_date}}</p>
      <p class="card-text">{{ total_people }} people are going</p>
      <p class="card-text"><span class="badge bg-dark">{{meetup.topic}}</span></p>
  </div>
</div>
</div>
    {% empty %}
    <h3 style="color: #FFF;">Sorry, there's nothing here 😕</h3>
    {% endfor %}
</div>

{% endblock content %}