<header class="p-3 bg-dark text-white" style="background-color: #405653!important; box-shadow: rgb(0 0 0 / 22%) 0px 0px 10px;">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-secondary" style="color: #ffffff!important;">Home</a></li>
            <li><a href="{% url 'events' %}" class="nav-link px-2 text-secondary" style="color: #ffffff!important;">Events</a></li>
            <li><a href="{% url 'jobs' %}" class="nav-link px-2 text-secondary" style="color: #ffffff!important;">Jobs</a></li>
          <li><a href="{% url 'users' %}" class="nav-link px-2 text-secondary" style="color: #ffffff!important;">Members</a></li>
        </ul>
        {% if user.is_authenticated %}
        <div class="dropdown text-end">
          <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownMember" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://freepikpsd.com/media/2019/10/default-user-profile-image-png-6-Transparent-Images.png" alt="mdo" width="32" height="32" class="rounded-circle">
            | Welcome {{ user.get_username }}
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="background-color: #405653;">
            {% if user.is_superuser %}
            <li><a class="dropdown-item" href="{% url 'admin:index' %}" style="color: #FFF;">Admin</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="{% url 'add-event' %}" style="color: #FFF;">Add event</a></li>
            <li><a class="dropdown-item" href="{% url 'add-job' %}" style="color: #FFF;">Add new job</a></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}" style="color: #FFF;">Edit Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}" style="color: #FFF;">Logout</a></li>
          </ul>
        </div>
        {% endif %}
        {% if request.user.groups.all.0.name == 'Employer' %}
        <div class="dropdown text-end">
          <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownEmployer" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/profile_pic.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
            <li><a class="dropdown-item" href="{% url 'add-job' %}">Add new job</a></li>
            <li><a class="dropdown-item" href="/profile">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </div>
        {% endif %}
        {% if user.is_anonymous %}
        <div class="text-end">
          <a href="{% url 'login' %}" type="button" class="btn btn-outline-light me-2">Login</a>
          <a href="{% url 'register' %}" type="button" class="btn btn-outline-warning">Register</a>
        </div>
        {% endif %}
      </div>
    </div>
  </header>