{% extends 'base/main.html' %}
{% block title %} devConnect {% endblock %}
{% load static %}
{% block content %}

<br/>
{% for message in messages %}
<div class="alert alert-success" role="alert">{{message}} 😎</div>
{% endfor %}

<form method="get">
    {{homeFilter.form}}
    <button class="btn btn-outline-light" type="submit">Search</button>
</form>

<h1 class="display-3" style="color: #FFF; ">Latest Events</h1>

<div class="row justify-content-center">
    {% for meetup in meetups %}
<div class="col-sm-3 col-md-3 g-4">
    <div class="card" style="width: 18rem;box-shadow: rgb(0 0 0 / 22%) 0px 0px 10px;border: 0px solid rgba(0,0,0,.125); background-color: #2d3839; color: #FFF;">
  <a href="{% url 'event' meetup.id %}"><img src="{{meetup.thumbnail.url}}" class="card-img-top" style="height: 171px; background-color: #2d3839;" alt="..."></a>
  <div class="card-body">
    <h5 class="card-title">{{meetup.title}}</h5>
    <p class="card-text">{{meetup.meetup_date}}</p>
      <p class="card-text">{{ total_people }} attendee</p>
      <p class="card-text"><span class="badge bg-dark">{{meetup.topic}}</span></p>
  </div>
</div>
</div>
    {% empty %}
    <h3>No meetups have been added yet</h3>
    {% endfor %}
</div>

{% endblock content %}