{% extends 'base/main.html' %}
{% block title %} {{job.title}} - devConnect {% endblock %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<a href="{% url 'edit-job' job.id %}" class="btn btn-warning me-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
</svg></a>
<a href="{% url 'delete-job' job.id %}" class="btn btn-danger me-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg></a>
<br/><br/>
{% endif %}

<table class="table table-dark table-hover">
<thead>
    <tr>
      <th scope="col">Company</th>
      <th scope="col">Job Title</th>
      <th scope="col">Location</th>
      <th scope="col">Full-Time or Part Time</th>
      <th scope="col">Remote or On Site</th>
      <th scope="col">Apply</th>
      <th scope="col">Added On</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{job.company}}</th>
      <td>{{job.title}}</td>
      <td>{{job.address}}</td>
      <td>{{job.type}}</td>
      <td>{{job.choice}}</td>
      <td><a href="{{ job.link }}" target="_blank">Apply</a></td>
      <td>{{job.created}}</td>
    </tr>
  </tbody>
</table>

<p style="color: #FFF;">{{job.description}}</p>

<hr>
 <h1 class="display-3" style="color: #FFF; ">Location</h1>

<div id='map' style='width: 100%; height: 500px; border-radius: 4px; box-shadow: rgb(0 0 0 / 22%) 0px 0px 10px;'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiYXVzdGluZmxhdHQiLCJhIjoiY2tyb2V3Z25pMmh4eDJvbzR5YWF2a2dyZiJ9.-95eK2-4NVM6Vi_CZ8ShDA';
var map = new mapboxgl.Map({
    container: 'map', // container ID
    style: 'mapbox://styles/austinflatt/ckrofzdq15ook19nfo2nmos00', // style URL
    center: [{{ job.long }}, {{ job.lat }}], // starting position [lng, lat]
    zoom: 13 // starting zoom
});
var marker = new mapboxgl.Marker()
  .setLngLat([{{ job.long }}, {{ job.lat }}])
  .setPopup(new mapboxgl.Popup().setHTML("<h4>{{job.title}}</h4><p>Company: {{job.company}}</p><p>{{job.type}}</p><p>{{job.address}}</p>"))
  .addTo(map);

      // Add geolocate control to the map.
    map.addControl(
    new mapboxgl.GeolocateControl({
    positionOptions: {
    enableHighAccuracy: true
    },
    trackUserLocation: true
    })
    );
</script>

{% endblock content %}