{% extends 'base/main.html' %}
{% block title %} Add Job - devConnect {% endblock %}
{% load static %}
{% block content %}

             <h1 class="display-3" style="color: #FFF; ">Add Job</h1>
            <form method="POST" enctype="multipart/form-data" class="add-content">
              {% csrf_token %}
              {% for field in form %}
              <label for="..." class="label">{{field.label}}</label><br>
              {{field}}<br>
              {% endfor %}
              <br>
              <input class="button button-submit" type="submit" value="Post Job">
            </form>

{% endblock content %}