{% extends 'base/main.html' %}
{% block title %} Add Event - devConnect {% endblock %}
{% load static %}
{% block content %}


            <h1 class="splash-title">Add Event 📍</h1>
            <form method="POST" enctype="multipart/form-data" class="add-content">
              {% csrf_token %}
              {% for field in form %}
              <label for="project" class="add-content-label">{{field.label}}</label><br>
              {{field}}<br>
              {% endfor %}
              <br>
              <input class="button button-submit" type="submit" value="Create Meetup">
            </form>

{% endblock content %}